<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AC List</title>
    <link rel="shortcut icon" type="image/x-icon" href="favicon.ico?">
    <link rel="stylesheet" href="style.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
</head>
<body>
    <div id="app">
        <div class="intro">
            <select  class="month-input" v-model.number="month">
                <option value="1">January</option>
                <option value="2">February</option>
                <option value="3">March</option>
                <option value="4">April</option>
                <option value="5">May</option>
                <option value="6">June</option>
                <option value="7">July</option>
                <option value="8">August</option>
                <option value="9">September</option>
                <option value="10">October</option>
                <option value="11">November</option>
                <option value="12">December</option>
            </select>
            <div class="hourCheck">
                <input v-model="showThisHour" v-on:click="month = getMonth()" type="checkbox" name="" id="">
                <p>Show available this hour</p>
            </div>
            <button @click="resetChecked()">Reset Checked</button>
        </div>
        
        <div id="lists">
            <ul class="fishes">
                <li class="entry" v-if="showThisHour && Object.values(fish.availability['month-array-northern']).includes(month) 
                    && Object.values(fish.availability['time-array']).includes(hour)  && !checked.includes(fish['file-name'])
                    || !showThisHour && Object.values(fish.availability['month-array-northern']).includes(month) && !checked.includes(fish['file-name'])"
                    v-bind:key="fish.icon_uri" v-for="fish in fishes">
                    <div>
                        <img v-bind:src="'img/fish/' + fish['file-name'] + '.png'" alt="">
                        <p>{{ titleCase(fish['name']['name-USen']) }}</p>
                    </div>
                    <div class="time">
                        <p v-if="fish['availability']['time'] != 0">{{ fish['availability']['time'] }}</p>
                        <p v-else>All Day</p>
                    </div>
                    <button v-on:click="addToChecked($event, fish['file-name'])">✓</button>
                </li>
            </ul>

            <ul class="bugs">
                <li class="entry" v-if="showThisHour && Object.values(bug.availability['month-array-northern']).includes(month) 
                && Object.values(bug.availability['time-array']).includes(hour)  && !checked.includes(bug['file-name'])
                || !showThisHour && Object.values(bug.availability['month-array-northern']).includes(month) && !checked.includes(bug['file-name'])"
                    v-bind:key="bug.icon_uri" v-for="bug in bugs">
                    <div>
                        <img v-bind:src="'img/bugs/' + bug['file-name'] + '.png'" alt="">
                        <p>{{ titleCase(bug['name']['name-USen']) }}</p>
                    </div>
                    <div class="time">
                        <p v-if="bug['availability']['time'] != 0">{{ bug['availability']['time'] }}</p>
                        <p v-else>All Day</p>
                    </div>
                    <button v-on:click="addToChecked($event, bug['file-name'])">✓</button>
                </li>
            </ul>

            <ul class="seacreatures">
                <li class="entry" v-if="showThisHour && Object.values(seacreature.availability['month-array-northern']).includes(month) 
                && Object.values(seacreature.availability['time-array']).includes(hour)  && !checked.includes(seacreature['file-name'])
                || !showThisHour && Object.values(seacreature.availability['month-array-northern']).includes(month) && !checked.includes(seacreature['file-name'])"
                    v-bind:key="seacreature.icon_uri" v-for="seacreature in seacreatures">
                    <div>
                        <img v-bind:src="'img/sea/' + seacreature['file-name'] + '.png'" alt="">
                        <p>{{ titleCase(seacreature['name']['name-USen']) }}</p>
                    </div>
                    <div class="time">
                        <p v-if="seacreature['availability']['time'] != 0">{{ seacreature['availability']['time'] }}</p>
                        <p v-else>All Day</p>
                    </div>
                    <button v-on:click="addToChecked($event, seacreature['file-name'])">✓</button>
                </li>
            </ul>
        </div>
    </div>
    <script src="./main.js"></script>
</body>
</html>