@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Catamaran', sans-serif;
  color: black;
  background: url('bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

li {
    list-style: none;
}

.month-input {
    width: 100px;
    margin: auto;
    margin-top: 3em;
    display: block;
}

.entry {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    width: 300px;
    margin: 3em auto;
    background: rgba(0, 0, 0, 0.4);
    padding: 1em;
    border-radius: 3px;
}

#lists {
    display: grid;
    /* align-items: center; */
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
}

.time {
    justify-self: flex-end; 
}

.entry img {
    width: 50px;
    height: 100%;
    margin-right: 0.5em;
}