@import url('https://fonts.googleapis.com/css2?family=Catamaran&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
  font-family: 'Catamaran', sans-serif;
  color: black;
  background: url('./img/bg.jpg') no-repeat center center fixed;
  background-size: cover;
}

li {
    list-style: none;
}

.month-input {
    width: 100px;
    margin: auto;
    display: block;
}

.intro {
    text-align: center;
    margin-top: 3em;
}

.intro h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 0.5em;
}

.intro button {
    display: block;
    margin: auto;
    margin-top: 1em;
}

.hourCheck {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 1em;
}

.entry {
    display: grid;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    width: 80%;
    margin: 3em auto;
    margin-top: 1em;
    background: rgba(0, 0, 0, 0.4);
    padding: 1em;
    border-radius: 3px;
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.4);
}

.entry:hover {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.lists h1 {
    margin-top: 1em;
    text-align: center;
}

/* .entry:active {
    background: rgba(0, 0, 0, 0.5);
} */

.info-additional {
    text-align: right;
}

.c-text {
    text-align: center;
    margin: auto;
}

.lists {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: space-around;
}

.time {
    justify-self: flex-end; 
}

.entry img {
    width: 50px;
    height: 100%;
    margin-right: 0.5em;
}

.entry .check {
    background: none;
    border: none;
    font-size: 1em;
    cursor: pointer;
    position: absolute;
    top: 10px;
    right: 15px;
}

.tooltip {
    text-decoration:none;
    position:relative;
    color: black;
}

.tooltip span {
    display:none;
    border-radius:3px;
    color:black;
    background:rgba(0, 0, 0, 0.8); 
}

.tooltip span img {
    width: 100%;
    float:left;
}

.tooltip:hover span {
    display:block;
    position:absolute;
    top:0;
    left:0;
    z-index:1000;
    width: 500px;
    border:1px solid black;
    overflow:hidden;
    padding:5px;
}

@media screen and (max-width: 700px) {
    .entry {
        /* grid-template-columns: 1fr; */
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    .entry img {
        width: 50%;
        height: auto;
    }
    .entry .check {
        font-size: 1.5em;
        right: 10px;
    }
    .time {
        justify-self: center; 
    }
    body {
        font-size: 0.8em;
    }
    .intro h1 {
        font-size: 2em;
        font-weight: bold;
        margin-bottom: 0.5em;
    }
    .lists h1 {
        font-size: 1.3em;
    }
    .info-additional {
        text-align: center;
    }
}